.taskItem {
    background-color: bisque;
    color: black;
    border: 2px solid salmon;
    padding: 15px;
}

.done {
    opacity: 0.4;
    text-decoration: line-through;
}

.taskTitle {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.taskDescription {
    font-size: 20px;
}
